APP_ENV=local
APP_PORT=8080
LOG_LEVEL=debug

DATABASE_URL=postgres://banking_user:banking_password@localhost:5432/banking_service?sslmode=disable

JWT_SECRET=change_me_please
JWT_TTL_HOURS=24

PGP_SYM_KEY=change_me_pgp_key
CARD_HMAC_KEY=change_me_hmac_key

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=no-reply@banking.local

CBR_SOAP_URL=https://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx

SCHEDULER_INTERVAL_HOURS=12
